$secondary-color: #B0C4DE;
$hover-color: #FF4500;
$primary-color: #FF7F51;

:host{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.gift-ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;

    .h2{
        margin-top: 0;
    }
}

.placeholder-ideas {
    margin-top: 40px;
    font-size: 1em;
    text-align: center;
}

.loading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    text-align: center;

    span{
        margin-top: 12px;
    }
}

.more-details{
    font-size: 1em;
    margin-top: 60px;
}

.error-response{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $hover-color;
    font-size: 1.2em;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 10px solid #FF7F50; // Light blue
    border-top: 10px solid #B0C4DE; // Coral
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.submit-button {
    padding: 15px 30px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 60px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 12px rgba(153, 75, 47, 0.06));

    &:hover {
        background-color: $hover-color;
    }

    &:disabled{
        background-color: $secondary-color;
        cursor: not-allowed;
    }
}

@media(max-width: 720px){
    :host{
        padding-left: 32px;
        padding-right: 32px;
    }

    .gift-ideas{
        padding: 0;
        margin-top: 20px;
    }

    .loading-container,
    .error-response,
    .more-details {
        font-size: 1em;  // Smaller font size
        margin-top: 20px;  // Reduce top margin
    }

    .placeholder-ideas{
        margin-top: 0px !important;
    }

    .submit-button{
        margin-top: 36px;
    }

    .loader {
        border-width: 7px;  // Reduce border width
        width: 40px;  // Reduce size
        height: 40px;  // Reduce size
    }
}

@media(max-width: 400px){
    :host{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 464px){
    .submit-button{
        font-size: 1em;
    }
}