<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p><br>Simon Vitt</p>
<h3>Postanschrift:</h3>
<p>Frankfurter-Straße 145<br>Gießen<br></p>
<h3>Kontakt:</h3>
<p>Telefon: <br>E-Mail: kontakt@simon-vitt.de</p>
<p></p><h3>Vertreten durch:</h3>
<p>Simon Vitt<br></p>
<p></p><h3>Eingetragen am</h3>
<p>Gießen<br>7959759579759<br></p>
<p></p><h3>Umsatzsteuer-Identifikationsnummer</h3>
<p>785875857<br></p>
<p></p><h3>Wirtschafts-Identifikationsnummer</h3>
<p>8758578758<br></p>
<p></p><h2>Hinweise zur Website</h2>
<p></p><h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
