<app-userinput></app-userinput>
<app-gift-ideas id="ideas-container"></app-gift-ideas>
<img alt="background-image" src="assets/img/backgroundleft.svg" class="backgroundimg" style="left:0; top:30%">
<img alt="background-image" src="assets/img/backgroundright.svg" class="backgroundimg" style="right:0; top: 5%">
<img alt="background-image" src="assets/img/bgrstar.svg" class="backgroundimg" style="left:22%; top: 62%">
<img alt="background-image" src="assets/img/bgrobjects.svg" class="backgroundimg" style="right:15%; top: 53%">
<img alt="background-image" src="assets/img/bgrstar.svg" class="backgroundimg" style="right:12%; top: 22%">
<img alt="background-image" src="assets/img/bgr2stars.svg" class="backgroundimg" style="left:12%; top: 22%">