<div class="description">
    <img src="assets/img/logogift.svg" alt="Logo">
    <h1>Discover your Perfect Gift!</h1>
    <p>Tell us who the lucky recipient is, share their hobbies and interests, any gift ideas you might already have and your budget.<br> <b>All in your own words!</b> <br> We'll handpick a personalized list of great gift ideas for you.</p>
    <p class="example">Example: 'Looking for a fun, creative gift for my 8-year-old nephew who loves Lego, football, and playing PlayStation. My budget is 40€-100€.'</p>
</div>
<form class="gift-form" (submit)="sendRequest()" [formGroup]="giftinputForm">
    <div class="input-btn-container">
        <input [readOnly]="disableBtn" class="input-field" placeholder="Tell us about your wishes..." formControlName="user_input">
        <button [disabled]="disableBtn" class="submit-button">Generate Ideas</button>
    </div>
    <p class="error" *ngIf="giftinputForm.get('user_input')!.errors && (giftinputForm.get('user_input')!.touched || submitted)">Please stay between 8 and 200 characters...</p>
    <p class="error-placeholder" *ngIf="!(giftinputForm.get('user_input')!.errors && (giftinputForm.get('user_input')!.touched || submitted))">Stay between 8 and 200 characters...</p>
</form>